<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <%= month_calendar attribute: :date, events: @appointments do |date, appointments| %>
      <div style="font-size:12px; text-align: right;">
        <%= date.strftime("%d") %>
      </div>
      <% appointments.each do |appointment| %>
      <div style="font-size:14px;">
        <% if appointment.is_confirmed %>
          <div style="font-size:12px;">
            <%= appointment.date.strftime(" %l:%M%P") %>
          </div>
          <div>
            <%= appointment.user.full_name %>
          </div>
        <% else %>
          <div class="text-warning">
            <%= appointment.date.strftime(" %l:%M%P") %> -
            <%= appointment.user.full_name %>
            <%= simple_form_for appointment, method: :patch, url: doctors_appointment_path(appointment) do |f| %>
              <%= f.input :is_confirmed, as: :hidden, input_html: {value: true } %>
              <%= f.submit 'Confirm', class:'m-0' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
