<div class="container">
  <div class="wrapper">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1>Appointments List:</h1>
        <% @appointments.each do |appointment| %>
          <h3><%= appointment.user.first_name %> <%= appointment.user.last_name %> </h3>
          <li><%= appointment.date.strftime("%b %e, %l:%M %p") %></li>
          <li><%= appointment.user.email %></li>
          <li><%= appointment.user.phone_number %></li>
          <li><%= appointment.is_confirmed ? 'Confirmed' : 'Not confirmed' %></li>
        <% end %>
      </div>
    </div>
  </div>
</div>
