<%= '<h5>Available times</h5>'.html_safe unless short %>
<div class="d-flex justify-content-center">
  <div class="card" style="width: 5.7rem;">
    <div class="card-header">
      Today
    </div>
    <ul class="list-group list-group-flush">
      <% if Date.today.wday == 6 || Date.today.wday == 0 %>
        <% %>
      <% else %>
        <% time = (doctor.opening_hour > DateTime.now.hour ? doctor.opening_hour : DateTime.now.hour + 1) %>
        <% times_do.times do %>
          <% break if time >= doctor.closing_hour %>

          <% hour = time.floor %>
          <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
          <% input_time = Time.current.change(month: Date.today.month, day: Date.today.day, hour: hour, min: minute) %>
          <% if doctor.appointments.find_by_date(input_time).nil? %>
            <li class="list-group-item"><%= link_to doctor.float_to_hour(time), doctor_appointments_path(doctor, time: input_time ), method: :post, data: { confirm: "Book appointment for #{doctor.full_name} on #{input_time.strftime("%F at %H:%M")}" } %></li>
            <% time += 0.5 %>
          <% else %>
            <% time += 0.5 %>
            <li class="list-group-item"><%= "Busy" %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="card" style="width: 5.7rem;background-color: rgba(0,0,0,0.05);">
    <div class="card-header">
      <%= "Tomorrow" %>
    </div>
    <ul class="list-group list-group-flush">
      <% if Date.tomorrow.wday == 6 || Date.tomorrow.wday == 0 %>
        <% %>
      <% else %>
        <% time = doctor.opening_hour %>
        <% times_do.times do %>
          <% break if time >= doctor.closing_hour %>

          <% hour = time.floor %>
          <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
          <% input_time = Time.current.change(month: Date.tomorrow.month, day: Date.tomorrow.day, hour: hour, min: minute) %>
          <% if doctor.appointments.find_by_date(input_time).nil? %>
            <li class="list-group-item"><%= link_to doctor.float_to_hour(time), doctor_appointments_path(doctor, time: input_time ), method: :post, data: { confirm: "Book appointment for #{doctor.full_name} on #{input_time.strftime("%F at %H:%M")}" } %></li>
            <% time += 0.5 %>
          <% else %>
            <% time += 0.5 %>
            <li class="list-group-item"><%= "Busy" %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="card" style="width: 5.7rem;background-color: rgba(0,0,0,0.05);">
    <div class="card-header">
      <% column_day = Date.current + 2 %>
      <%= column_day.strftime("%A") %>
    </div>
    <ul class="list-group list-group-flush">
      <% if column_day.wday == 6 || column_day.wday == 0 %>
        <% %>
      <% else %>
        <% time = doctor.opening_hour %>
        <% times_do.times do %>
          <% break if time >= doctor.closing_hour %>

          <% hour = time.floor %>
          <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
          <% input_time = Time.current.change(month: column_day.month, day: column_day.day, hour: hour, min: minute) %>
          <% if doctor.appointments.find_by_date(input_time).nil? %>
            <li class="list-group-item"><%= link_to doctor.float_to_hour(time), doctor_appointments_path(doctor, time: input_time ), method: :post, data: { confirm: "Book appointment for #{doctor.full_name} on #{input_time.strftime("%F at %H:%M")}" } %></li>
            <% time += 0.5 %>
          <% else %>
            <% time += 0.5 %>
            <li class="list-group-item"><%= "Busy" %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% if short %>
    <% "" %>
  <% else %>
    <div class="card" style="width: 5.7rem;">
      <div class="card-header">
        <% column_day = Date.current + 3 %>
        <%= column_day.strftime("%A") %>
      </div>
      <ul class="list-group list-group-flush">
        <% if column_day.wday == 6 || column_day.wday == 0 %>
          <% %>
        <% else %>
          <% time = doctor.opening_hour %>
          <%  %>
          <% times_do.times do %>
            <% break if time >= doctor.closing_hour %>

            <% hour = time.floor %>
            <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
            <% input_time = Time.current.change(month: column_day.month, day: column_day.day, hour: hour, min: minute) %>
            <% if doctor.appointments.find_by_date(input_time).nil? %>
              <li class="list-group-item"><%= link_to doctor.float_to_hour(time), doctor_appointments_path(doctor, time: input_time ), method: :post, data: { confirm: "Book appointment for #{doctor.full_name} on #{input_time.strftime("%F at %H:%M")}" } %></li>
              <% time += 0.5 %>
            <% else %>
              <% time += 0.5 %>
              <li class="list-group-item"><%= "Busy" %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="card" style="width: 5.7rem;">
      <div class="card-header">
        <% column_day = Date.current + 4 %>
        <%= column_day.strftime("%A") %>
      </div>
      <ul class="list-group list-group-flush">
        <% if column_day.wday == 6 || column_day.wday == 0 %>
          <% %>
        <% else %>
          <% time = doctor.opening_hour %>
          <% times_do.times do %>
            <% break if time >= doctor.closing_hour %>

            <% hour = time.floor %>
            <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
            <% input_time = Time.current.change(month: column_day.month, day: column_day.day, hour: hour, min: minute) %>
            <% if doctor.appointments.find_by_date(input_time).nil? %>
              <li class="list-group-item"><%= link_to doctor.float_to_hour(time), doctor_appointments_path(doctor, time: input_time ), method: :post, data: { confirm: "Book appointment for #{doctor.full_name} on #{input_time.strftime("%F at %H:%M")}" } %></li>
              <% time += 0.5 %>
            <% else %>
              <% time += 0.5 %>
              <li class="list-group-item"><%= "Busy" %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
