<nav class="navbar navbar-expand-lg navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://www.bond.org.uk/sites/default/files/styles/inline_wide/public/exhibitor-images/fmd_pro_logo_0.png?itok=UhH7arwg" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% unless params[:controller] == "pages" && params[:action] == "home" %>
          <%= form_tag(doctors_path, {method: :get, class: "form-inline my-2 my-lg-0 mx-2"}) do %>
           <%=text_field_tag :q, nil, placeholder: "Tokyo", class:'form-control', style:'border-radius: 4px;' %>
           <select class="form-control mx-3" type="text" placeholder="speciality">
             <% Doctor.specialities_list.each do |speciality|%>
              <option value="AL"><%= speciality %></option>
             <% end %>
            </select>
            <%= submit_tag ("Search"), class: "btn btn-outline-light btn-sm mr-1" %>
          <% end %>
        <% end %>
        <div class="dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://avatars2.githubusercontent.com/u/49295880?v=4" />
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to "My Appointments", appointments_path, class: "dropdown-item" %>
            <%= link_to "Profile", "#", class: "dropdown-item" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% elsif doctor_signed_in? %>
<!--         <form class="form-inline my-2 my-lg-0 mx-1">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button> -->
    </form>
        <div class="dropdown">
          <% if current_doctor.photo.present? %>
            <%= cl_image_tag current_doctor.photo, gravity: :face, width: 40, height: 40, crop: :thumb, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% elsif current_doctor.gender == "male" %>
            <%= image_tag "https://cdn.pixabay.com/photo/2014/04/03/10/32/businessman-310819_960_720.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://cdn.pixabay.com/photo/2014/04/03/10/32/user-310807_960_720.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to "My appointments", doctors_appointments_path, class: "dropdown-item" %>
            <%= link_to "Profile", "#", class: "dropdown-item" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% else  %>
        <li class="nav-item dropdown">
          <button type="button" class="nav-link dropdown-toggle btn btn-secondary p-1 m-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign Up
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/sign_up">As a Patient</a>
            <a class="dropdown-item" href="/doctors/sign_up">As a Doctor</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <button type="button" class="nav-link dropdown-toggle btn btn-secondary m-1 p-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/sign_in">As a Patient</a>
            <a class="dropdown-item" href="/doctors/sign_in">As a Doctor</a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

 <!--   <%= form_tag(doctors_path, method: :get) do %>
        <form class="form-inline my-2 my-lg-0 mx-1">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <%= submit_tag ("Search"), class: "btn btn-outline-dark search-button" %>
        <% end %>
        </form> -->
