<p></p>
<p></p>
<div class="container">
  <%  @doctors.each do |doctor| %>
    <div class="card-product">
      <img src="<%= doctor.photo %>">
      <div class="card-product-infos">
        <h2><%= link_to "#{doctor.first_name} #{doctor.last_name} - #{doctor.speciality.capitalize}" , doctor_path(doctor)  %></h2>
        <p><%= doctor.address %></p>
        <p><%= doctor.phone_number %></p>
        <p><%= doctor.email %></p>
        <p><%= doctor.opening_hour.to_i %>:00 - <%= doctor.closing_hour.to_i %>:00</p>
      </div>
    </div>
  <% end %>
</div>
