<div class="container mt-5">
  <h1>Search result for doctors</h1>
  <% if @doctors.nil? %>
  <div class="card-product d-flex justify-content-center align-center">
    <h4>No doctors with given parameters</h4>
  </div>
  <% else %>
  <%  @doctors.each do |doctor| %>
  <div class="card-product">
    <img src="<%= doctor.photo %>">
    <div class="card-product-infos">
      <h2><%= link_to "#{doctor.full_name} - #{doctor.speciality.capitalize}" , doctor_path(doctor)  %></h2>
      <p><i class="fas fa-map-marked-alt"></i> <%= doctor.address %></p>
      <p><i class="fas fa-phone"></i> <%= doctor.phone_number %></p>
      <p><i class="fas fa-envelope"></i> <%= doctor.email %></p>
      <p><i class="fas fa-calendar-alt"></i> <%= doctor.opening_hours %></p>
    </div>

    <div class="card card-detail mb-3 mt-3 pt-2 text-center" style="font-size: x-small;">
      <%= render 'shared/calendar', doctor: doctor, times_do: 3, short: true %>
    </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
