<div class="container">
  <div class="mt-5">
    <%= link_to  doctors_path, class: "btn btn-outline-warning" do %>
      <i class="fas fa-arrow-circle-left"></i>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 ">
      <div class="row no-gutters">
        <div class="col-md-6 card-detail mb-3 mt-5 d-flex justify-content-center">

          <div class=" card" >
         <!--    <img src="<%= @doctor.photo %>" class=" img-thumbnail img-fluid rounded"> -->
         <%= cl_image_tag(@doctor.photo,
      width: 220, height: 300, crop: :thumb, gravity: :face, class: " img-thumbnail img-fluid rounded" ) %>
          </div>

      <div class="">
        <div class="card-body">
          <h4 class="card-title mb-1"><%= @doctor.full_name %></h4>
          <h5 class="card-text mb-3"><small class="text-muted"><%= @doctor.speciality %></small></h5>
          <p class="card-text"><i class="fas fa-envelope"></i> <%=  @doctor.email %></p>
          <p class="card-text"><i class="fas fa-phone"></i> <%= @doctor.phone_number %></p>
          <span><%= link_to "Book an appointment", new_doctor_appointment_path(@doctor), class: "btn btn-outline-primary" %>
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-1">

    </div>

    <div class="card card-detail col-md-4 mb-3 mt-5 pt-2">
      <h5>Available times</h5>
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 7.7rem;">
          <div class="card-header">
            Today
          </div>
          <ul class="list-group list-group-flush">
            <% time = (@doctor.opening_hour > DateTime.now.hour ? @doctor.opening_hour : DateTime.now.hour + 1) %>
            <% 6.times do %>
              <% break if time >= @doctor.closing_hour %>

              <% hour = time.floor %>
              <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
              <% if @doctor.appointments.find_by_date(Time.current.change(hour: hour, min: minute)).nil? %>
                <li class="list-group-item"><%= link_to @doctor.float_to_hour(time), new_doctor_appointment_path(@doctor, "#{@doctor.float_to_hour(time)}-#{Date.today}" ) %></li>
                <% time += 0.5 %>
              <% else %>
                <% time += 0.5 %>
                 <li class="list-group-item"><%= "Busy" %></li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="card" style="width: 7.7rem;">
          <div class="card-header">
            <% #if Date.today.wday + 1 == 6 %>
            <%= "" %>
            <% #else %>
            <%= "Tomorrow" %>
            <% #end %>
          </div>
          <ul class="list-group list-group-flush">
            <% time = @doctor.opening_hour %>
            <% 6.times do %>
              <% break if time >= @doctor.closing_hour %>

              <% hour = time.floor %>
              <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
              <% if @doctor.appointments.find_by_date(Time.current.change(day: (Date.tomorrow.day) ,hour: hour, min: minute)).nil? %>
                <li class="list-group-item"><%= link_to @doctor.float_to_hour(time), new_doctor_appointment_path(@doctor, "#{@doctor.float_to_hour(time)}-#{Date.tomorrow}" ) %></li>
                <% time += 0.5 %>
              <% else %>
                <% time += 0.5 %>
                 <li class="list-group-item"><%= "Busy" %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="card" style="width: 7.7rem;">
          <div class="card-header">
            <% #if Date.today.wday + 2 == 6 %>
            <%= "" %>
            <% #elsif Date.today.wday + 2 == 7 %>
            <%= "" %>
            <% #else %>
            <%= (Date.today + 2).strftime("%A") %>
            <% #end %>
          </div>
          <ul class="list-group list-group-flush">
            <% time = @doctor.opening_hour %>
            <% 6.times do %>
              <% break if time >= @doctor.closing_hour %>

              <% hour = time.floor %>
              <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
              <% if @doctor.appointments.find_by_date(Time.current.change(month: (Date.current + 2).month, day: (Date.current + 2).day, hour: hour, min: minute)).nil? %>
                <li class="list-group-item"><%= link_to @doctor.float_to_hour(time), new_doctor_appointment_path(@doctor, "#{@doctor.float_to_hour(time)}-#{Date.current + 2}" ) %></li>
                <% time += 0.5 %>
              <% else %>
                <% time += 0.5 %>
                 <li class="list-group-item"><%= "Busy" %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
