<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 ">
      <div class="card-detail mb-3 mt-5">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="<%= @doctor.photo %>" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= @doctor.full_name %></h5>
                <p class="card-text"><small class="text-muted"><%= @doctor.speciality %></small></p>
                <p class="card-text"><i class="fas fa-envelope"></i> <%= @doctor.email %></p>
                <p class="card-text"><i class="fas fa-phone"></i> <%= @doctor.phone_number %></p>
                <button class="btn btn-primary"><%= link_to "Book an appointment", new_doctor_appointment_path(@doctor) %></button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

