  <div class="mt-5">
    <%= link_to  doctors_path, class: "btn btn-primary pl-5" do %>
      <i class="fas fa-arrow-circle-left"></i>
    <% end %>
  </div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 ">
      <div class="row no-gutters">
        <div class="col-md-6 card-detail mb-3 mt-3 d-flex justify-content-between">

          <div class="" style="height: 100%; position: relative;" >
         <%= cl_image_tag(@doctor.photo,
      width: 220, height: 300, crop: :thumb, gravity: :face, class: "img-fluid" ) %>
          <div class="card-shadow">
          </div>
          </div>

      <div class="" style="width: 310px">
        <div class="card-body">
          <h4 class="card-title mb-1"><%= @doctor.full_name %></h4>
          <h5 class="card-text mb-3"><small class="text-muted"><%= @doctor.speciality %></small></h5>
          <p class="card-text"><i class="fas fa-envelope"></i> <%=  @doctor.email %></p>
          <p class="card-text"><i class="fas fa-phone"></i> <%= @doctor.phone_number %></p>
        </div>
      </div>
    </div>


    <div class="col-md-1">

    </div>

    <div class="card card-detail col-md-5 mb-3 mt-3 pt-2 text-center" style="font-size: x-small;">
      <h5>Available times</h5>
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 5.7rem;">
          <div class="card-header">
            Today
          </div>
          <ul class="list-group list-group-flush">
            <% if Date.today.wday == 6 || Date.today.wday == 0 %>
              <% %>
            <% else %>
              <% time = (@doctor.opening_hour > DateTime.now.hour ? @doctor.opening_hour : DateTime.now.hour + 1) %>
              <% 6.times do %>
                <% break if time >= @doctor.closing_hour %>

                <% hour = time.floor %>
                <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
                <% input_time = Time.current.change(month: Date.today.month, day: Date.today.day, hour: hour, min: minute) %>
                <% if @doctor.appointments.find_by_date(input_time).nil? %>
                  <li class="list-group-item"><%= link_to @doctor.float_to_hour(time), doctor_appointments_path(@doctor, time: input_time ), method: :post, data: { confirm: "Book appointment for #{@doctor.full_name} on #{input_time.strftime("%F at %H:%M")}" } %></li>
                  <% time += 0.5 %>
                <% else %>
                  <% time += 0.5 %>
                   <li class="list-group-item"><%= "Busy" %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="card" style="width: 5.7rem;">
          <div class="card-header">
            <%= "Tomorrow" %>
          </div>
          <ul class="list-group list-group-flush">
            <% if Date.tomorrow.wday == 6 || Date.tomorrow.wday == 0 %>
              <% %>
            <% else %>
              <% time = @doctor.opening_hour %>
              <% 6.times do %>
                <% break if time >= @doctor.closing_hour %>

                <% hour = time.floor %>
                <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
                <% input_time = Time.current.change(month: Date.tomorrow.month, day: Date.tomorrow.day, hour: hour, min: minute) %>
                <% if @doctor.appointments.find_by_date(input_time).nil? %>
                  <li class="list-group-item"><%= link_to @doctor.float_to_hour(time), doctor_appointments_path(@doctor, time: input_time ), method: :post, data: { confirm: "Book appointment for #{@doctor.full_name} on #{input_time.strftime("%F at %H:%M")}" } %></li>
                  <% time += 0.5 %>
                <% else %>
                  <% time += 0.5 %>
                   <li class="list-group-item"><%= "Busy" %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="card" style="width: 5.7rem;">
          <div class="card-header">
            <% column_day = Date.current + 2 %>
            <%= column_day.strftime("%A") %>
          </div>
          <ul class="list-group list-group-flush">
            <% if column_day.wday == 6 || column_day.wday == 0 %>
              <% %>
            <% else %>
              <% time = @doctor.opening_hour %>
              <% 6.times do %>
                <% break if time >= @doctor.closing_hour %>

                <% hour = time.floor %>
                <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
                <% input_time = Time.current.change(month: column_day.month, day: column_day.day, hour: hour, min: minute) %>
                <% if @doctor.appointments.find_by_date(input_time).nil? %>
                  <li class="list-group-item"><%= link_to @doctor.float_to_hour(time), doctor_appointments_path(@doctor, time: input_time ), method: :post, data: { confirm: "Book appointment for #{@doctor.full_name} on #{input_time.strftime("%F at %H:%M")}" } %></li>
                  <% time += 0.5 %>
                <% else %>
                  <% time += 0.5 %>
                   <li class="list-group-item"><%= "Busy" %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="card" style="width: 5.7rem;">
          <div class="card-header">
            <% column_day = Date.current + 3 %>
            <%= column_day.strftime("%A") %>
          </div>
          <ul class="list-group list-group-flush">
            <% if column_day.wday == 6 || column_day.wday == 0 %>
              <% %>
            <% else %>
              <% time = @doctor.opening_hour %>
              <%  %>
              <% 6.times do %>
                <% break if time >= @doctor.closing_hour %>

                <% hour = time.floor %>
                <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
                <% input_time = Time.current.change(month: column_day.month, day: column_day.day, hour: hour, min: minute) %>
                <% if @doctor.appointments.find_by_date(input_time).nil? %>
                  <li class="list-group-item"><%= link_to @doctor.float_to_hour(time), doctor_appointments_path(@doctor, time: input_time ), method: :post, data: { confirm: "Book appointment for #{@doctor.full_name} on #{input_time.strftime("%F at %H:%M")}" } %></li>
                  <% time += 0.5 %>
                <% else %>
                  <% time += 0.5 %>
                   <li class="list-group-item"><%= "Busy" %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="card" style="width: 5.7rem;">
          <div class="card-header">
            <% column_day = Date.current + 4 %>
            <%= column_day.strftime("%A") %>
          </div>
          <ul class="list-group list-group-flush">
            <% if column_day.wday == 6 || column_day.wday == 0 %>
              <% %>
            <% else %>
              <% time = @doctor.opening_hour %>
              <% 6.times do %>
                <% break if time >= @doctor.closing_hour %>

                <% hour = time.floor %>
                <% minute = time * 10 % 10 == 0 ? 0 : 30 %>
                <% input_time = Time.current.change(month: column_day.month, day: column_day.day, hour: hour, min: minute) %>
                <% if @doctor.appointments.find_by_date(input_time).nil? %>
                  <li class="list-group-item"><%= link_to @doctor.float_to_hour(time), doctor_appointments_path(@doctor, time: input_time ), method: :post, data: { confirm: "Book appointment for #{@doctor.full_name} on #{input_time.strftime("%F at %H:%M")}" } %></li>
                  <% time += 0.5 %>
                <% else %>
                  <% time += 0.5 %>
                   <li class="list-group-item"><%= "Busy" %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 ">
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>


