<% past_appointments = [] %>
<% @appointments.each do |appointment| %>
  <% past_appointments << appointment if (appointment.date < DateTime.now + 9.hours) %>
<% end %>
<% upcoming_appointments = @appointments - past_appointments %>

<div class="container mt-5">
  <div class="wrapper">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1>Upcoming appointments</h1>
        <% upcoming_appointments.each do |appointment| %>
          <div class="card-product">
            <img src="<%= appointment.doctor.photo %>">
            <div class="card-product-infos">
              <h3><%= appointment.date.strftime("%a, %b %e %l:%M %p") %> </h3>
              <h2><%= appointment.doctor.full_name %> - <%= appointment.doctor.speciality %></h2>
              <p><i class="fas fa-map-marked-alt"></i> <%= appointment.doctor.address %></p>
              <p><i class="fas fa-phone"></i> <%= appointment.doctor.phone_number %></p>
              <p><i class="fas fa-envelope"></i> <%= appointment.doctor.email %></p>
              <% if appointment.is_confirmed %>
                <p class="text-success font-weight-bold">Confirmed</p>
              <% else %>
                <p class="text-warning font-weight-bold">Waiting for confirmation</p>
              <% end %>
          </div>
          </div>
        <% end %>
        <% if upcoming_appointments.empty? %>
          <div class="card-product d-flex justify-content-center align-center">
            <h4>No upcoming appointments</h4>
          </div>
        <% end %>
        <br>
        <h1>Past appointments</h1>
        <% past_appointments.reverse.each do |appointment| %>
          <div class="card-product">
            <img src="<%= appointment.doctor.photo %>">
            <div class="card-product-infos">
              <h3><%= appointment.date.strftime("%a, %b %e %l:%M %p") %> </h3>
              <h2><%= appointment.doctor.full_name %> - <%= appointment.doctor.speciality %></h2>
              <p><i class="fas fa-map-marked-alt"></i> <%= appointment.doctor.address %></p>
              <p><i class="fas fa-phone"></i> <%= appointment.doctor.phone_number %></p>
              <p><i class="fas fa-envelope"></i> <%= appointment.doctor.email %></p>
              <% if appointment.is_confirmed %>
                <p class="text-success font-weight-bold">Confirmed</p>
              <% else %>
                <p class="text-warning font-weight-bold">Waiting for confirmation</p>
              <% end %>
          </div>
          </div>
        <% end %>
        <% if past_appointments.empty? %>
          <div class="card-product d-flex justify-content-center align-center">
            <h4>No past appointments</h4>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

