<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Find my doctor</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="d-flex justify-content-between flex-column">
      <%= render 'shared/navbar' %>
      <p class="notice d-none"><%= notice %></p>
      <p class="alert d-none"><%= alert %></p>
      <div class="flex-grow-1 mt-5" style="min-height: 89vh">
        <%= yield %>
      </div>
    </div>
      <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
